
{% extends 'BloggerBlogBundle::layout.html.twig' %}


{% block title %} Contact {% endblock %}
{% block body %}
    Here are the Contact details to Contact Us..
    <a href="{{ path('BloggerBlogBundle_homepage') }}">Our Website</a></li>
{% endblock %}
